/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Light theme colors */
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f0f0f0;
  --text-color: #333333;

  /* Dark theme colors */
  --primary-bg-color-dark: #1f1f1f;
  --secondary-bg-color-dark: #333333;
  --text-color-dark: #ffffff;
}

/* Default styles for light theme */
[data-theme='light'] {
  --primary-bg-color: #c3e2f7;
  --secondary-bg-color: #f0f0f0;
  --text-color: #333333;
  --text-color-imp: #333333;
  --text-overlay-color: #000;
}

/* Styles for dark theme */
[data-theme='dark'] {
  --primary-bg-color: #E0FE55;
  --text-color-imp: #333333;
  --secondary-bg-color: #000;
  --text-color: #ffffff;
  --text-overlay-color: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', Arial, sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

/* Add any additional global styles as needed */
