/* styles.css */

/* Common styles */
.body {
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  }
 /* components/Header.module.css */
 .header {
  background-color: var(--primary-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  margin: 0 15px;
}

.navItem a {
  text-decoration: none;
  color: var(--text-color-imp);
  font-size: 18px;
  font-weight: bold;
}
.feedBreak{
  width: 30%;
  margin: 0 auto;
  height: 3px;
  margin-top: 40px;
  border-radius: 15px;
  border: 3px solid var(--text-color);
  color: var(--text-color) !important;
}

.navItem a:hover {
  color: #007bff;
}

.themeButton {
  background-color: transparent; /* Use secondary background color for the button */
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Style the button for the dark theme */
[data-theme='dark'] .themeButton {
  /* background-color: var(--text-color-overlay); */
  color: var(--text-overlay-color);
}
[data-theme='dark'] .feedBreak {
  /* background-color: var(--text-color-overlay); */
  color: var(--text-color);
}



/* Add more styles as needed */
/* components/ListView.module.css */


.listView {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Display photos in a single column */
  gap: 20px;
  padding: 20px;
  background-color: var(--secondary-bg-color);
}

/* Optional: Adjust the width of each photo */
.feedItem {
  max-width: 100%; /* Set maximum width to prevent images from stretching */
  margin: 0 auto; /* Center each photo horizontally */
  width: 40%; /* Set the width of each photo */
  height: auto; /* Set the height of each photo to create a square */
  object-fit: cover; /* Ensure the entire image is visible */
}


.loader {
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

/* Add more styles as needed */
/* styles/Modal.module.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: absolute;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.modalBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalBox img {
  width: 100%;
  height: auto;
  max-height: 400px; /* Limit the maximum height of the image within the modal */
  object-fit: contain; /* Ensure entire image is visible without cropping */
  border-radius: 8px;
  margin-bottom: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: center; */
}

.info img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.likes {
  display: flex;
  align-items: center;
}

.likes span {
  margin-right: 8px;
}

/* Clearfix for modal content */
.modalContent::after {
  content: '';
  display: table;
  clear: both;
}

/* styles/GridItem.module.css */
/* styles.module.css */
  /* .gridView {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: auto;
  } */

.gridItem {
  /* padding: 20px; */
  /* border: 1px solid #ccc; */
  /* background-color: #fff; */
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}

.gridImage {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.gridItemText{
  
  height: inherit  ;
  width: 100%;
}
.gridItemTextContainer{
  /* margin-top: -200px; */
  position: relative;
  height: 100%;
  z-index: 100;
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0, 0, 0, 0.445) 100%);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: 5px;
}

.gridItem:hover .overlay {
  opacity: 1;
}

.icon {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.modalContent {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
  width: 90%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.modalCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modalImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.modalTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modalDescription {
  font-size: 16px;
  margin-bottom: 20px;
}

.modalLikes {
  font-size: 16px;
  font-weight: bold;
}


/* components/FeedItem.module.css */

/* components/FeedItem.module.css */
.feedItem {
  background-color: var(--primary-bg);
  /* border: 1px solid red;  */
  border-radius: 5px;
  margin-bottom: 20px !important; 
  /* padding: 10px; */
}

.feedItem img {
  /* display: block; */
  width: 100%;
  height: 100%;
  max-height: 400px; /* Set the maximum height for the image */
  object-fit: cover; /* Ensure the image scales proportionally while covering its container */
  border-radius: 5px;
  background-color: #f1f1f1; /* Provide a gray background color while the image is loading */
}

.feedItem .infoUser {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 10px;
  padding: 0 10px;
}

.feedItem .info .user {
  flex-direction: row !important;
  display: flex;
  align-items: center !important;
  /* align-items: center; */
}
.user{
  display: flex;
  flex-direction: row !important;
  align-items: center !important; 
}
.user img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.feedItem .info .user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.feedItem .info .user span {
  font-weight: bold;
  color: var(--text-color);
}

.feedItem .info .likes {
  display: flex;
  align-items: center;
}

.feedItem .info .likes span {
  margin-right: 5px;
  font-weight: bold;
  color: var(--text-color);
}


/* Add more styles as needed */
/* components/ProfilePhotos.module.css */

.profilePhotos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Add more styles as needed */

.themeSwitcher {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-bg-color);
  transition: background-color 0.3s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: var(--text-color);
  border-radius: 50%;
  transition: transform 0.3s;
}

input:checked + .slider {
  background-color: var(--secondary-bg-color-dark);
}

input:checked + .slider:before {
  transform: translateX(20px);
}
  

/* Username.module.css */
.userProfile {
  /* padding: 20px; */
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-bg-color);
}

.profileSection {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center ;
  /* width: 100vw; */
  background-color: var(--primary-bg-color);
  padding: 40px;
  border-radius: 0 0 30px 30px;
}
.profileSectionText{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  color: var(--text-overlay-color);
}
.profilePicture {
  width: 130px;
  height: 130px;
  border-radius: 30%;
  object-fit: cover;
  /* margin-bottom: 20px; */
  /* border: 3px solid #3de697; */
}

.userName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0px;
}

.bio {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.interests {
  display: flex;
  flex-wrap: wrap;
}

.interestTag {
  background-color: #f0f0f0;
  color: #333;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.userStats{
  display: flex;
  flex-direction: row;
  /* margin-top: 20px;
  margin-bottom: 20px; */
  
}
.userStatsWrapper{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.userLinks{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* margin-bottom: 20px; */
}
.userLinksButton{
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-size: 10px;
  text-decoration: none;
  color: red;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 100px;
  min-width: 60px;

  /* text-align: center; */
  
}

.feedItemIcons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.userLinksButton:hover{
  /* background-color: var(--secondary-bg-color); */
  font-weight: 600;

  /* border-radius: 5px; */
}
/* background-color: #007bff; */
.tabBar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tabButton {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.2s;
  color: var(--primary-bg-color) ;
}

.tabButton:focus {
  outline: none;
}

.tabButton.active {
  color: #ff4500;
}

.gridView {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 60%;
  margin: 0 auto;
}

.listView {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listItem {
  display: flex;
  gap: 10px;
}

.listItemImage {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listItemContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.photoTitle {
  font-size: 18px;
  font-weight: bold;
}

.photoDescription {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.photoDetailsModal{

}
.modalContent {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 90vw ;
  width: 90%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.modalCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modalImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.modalTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modalDescription {
  font-size: 16px;
  margin-bottom: 20px;
}

.modalLikes {
  font-size: 16px;
  font-weight: bold;
}
/* components/Tag.module.css */
.tag {
  display: inline-block;
  background-color: #f0f0f0;
  color: #333;
  font-size: 14px;
  padding: 4px 8px;
  margin-right: 8px;
  border-radius: 4px;
}
